		<div id="form_edytuj">
			<h1>Zmień dane dostępowe</h1>
			<table>
				<tr>
					<td><label for="login">Login:</label></td>
					<td><span class="red u_login"></span><input class="input u0" type="text" name="login" value="{$login}"></td>
				</tr>
				<tr>
					<td><label for="password">Hasło:</label></td>
					<td><span class="red u_password"></span><input class="input u1" type="password" name="password"></td>
				</tr>	
				<tr>
					<td><label for="cpassword">Powtórz hasło:</label></td>
					<td><input class="input u2" type="password" name="cpassword"></td>
				</tr>					
			</table>
				<input id="zapisz_ustawienia" type="submit" name="loguj" value="Zapisz" class="link_css"/>
		</div>
