	<div class="page_box" id="usun_tag">
		<div class="inside_page_box">
			<h1>Usuń tag: <span class="this_nazwa_text"></span></h1>
			<form method="post" action="php/tagi.php" class="form">
				<input type="hidden" name="action" value="usun">
				<input type="hidden" name="id" value="" class="this_id">
				<input type="submit" name="add" value="Tak" class="submit"/>
				<input type="reset" name="cancel" value="Nie" class="submit nie"/>
			</form>
		</div>
	</div>
	<div class="page_box" id="edytuj_tag">
		<div class="inside_page_box">
			<h1>Edytuj nazwę: <span class="this_nazwa_text"></span></h1>
			<form method="post" action="php/tagi.php" class="form">
				<input type="hidden" name="action" value="edytuj">
				<input type="hidden" name="id" value="" class="this_id">
				<input class="input this_nazwa" type="text" name="tag"><br>
				<input type="submit" name="add" value="Zapisz" class="submit"/>
				<input type="reset" name="cancel" value="Anuluj" class="submit nie"/>
			</form>
		</div>
	</div>
	<div class="page_box" id="dodaj_tag">
		<div class="inside_page_box">
			<h1>Dodaj tagi: </h1>
			<form method="post" action="php/tagi.php" class="form">
				<input type="hidden" name="action" value="dodaj">
				<input class="input" type="text" name="tag"><br>
				<input type="submit" name="add" value="Dodaj" class="submit"/>
				<input type="reset" name="cancel" value="Anuluj" class="submit nie"/>
			</form>
		</div>
	</div>
	<br><div class="center"><a href="#dodaj_tag" class="link" id="dodaj_tagi">Dodaj tag</a></div>
{if $tagi}
	<table id="table_tagi">
		<tr>
			<td colspan="6">Tagi</td>
		</tr>
		<tr>
			<td></td><td>Nazwa</td><td>Prosta nazwa</td><td>Ilość</td><td>Edytuj</td><td>Usuń</td>
		</tr>
			{foreach key=key item=item from=$tagi}
				<tr>
					<td>{counter}</td>
					<td><a href="../tag/{$item.id}/{$item.prosta_nazwa}" title="{$item.nazwa}">{$item.nazwa}</a></td>
					<td>{$item.prosta_nazwa}</td>
					<td>{$item.ilosc}</td>
					<td><a href="#edytuj_tag" data-id="{$item.id}" data-nazwa="{$item.nazwa}" class="link_form"><img src="img/pencil.png" alt="Edytuj"/></a></td>
					<td><a href="#usun_tag" data-id="{$item.id}" data-nazwa="{$item.nazwa}" class="link_form"><img src="img/delete.png" alt="Usuń"/></a></td>
				</tr>
			{/foreach}
	</table>
{/if}