.jcarousel-wrapper {
    margin:  auto;
	width: 1100px;
    position: relative;
	margin-bottom: 15px;
}

.jcarousel {
    position: relative;
    overflow: hidden;
	padding: 10px 22px 20px 22px;
	color: #9fa0a6; 
}
.jcarousel p{
	color: #9fa0a6; 
	line-height:0;
	font-size: 100%;
}
.jcarousel br{
	display: none;
}
.jcarousel object{
	display: block; margin:0; padding:0;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 300px; height: 250px; overflow: hidden;
    float: left;
    border: 1px solid transparent;
	margin: 0 25px;
	background-color: rgba(0,0,0,0.3);
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #adde60;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    border-radius: 30px;
	opacity:0;
	transition: all 0.2s;
}
.jcarousel-control-prev {
    left: 8px;
}
.jcarousel-control-next {
    right: 8px;
}
.jcarousel-control-prev:hover, .jcarousel-control-next:hover{
	color: white; text-decoration: none; opacity:1;
}
.vissible{
	opacity:0.6;
}